---
layout: single
title: "Crafts"
permalink: /crafts/
author_profile: true
---

{% include base_path %}

{% for post in site.crafts reversed %}
  <div class="crafts-entry" style="margin-bottom: 3em;">
    <h2>{{ post.title }}</h2>
    <p>
      {% if post.type %}{{ post.type }}, {% endif %}
      {% if post.venue %}<i>{{ post.venue }}</i>, {% endif %}
      {% if post.start_date and post.end_date %}
        {{ post.start_date | date: "%Y" }}–{{ post.end_date | date: "%Y" }}
      {% elsif post.start_date %}
        {{ post.start_date | date: "%Y" }}–present
      {% elsif post.date %}
        {{ post.date | default: "1900-01-01" | date: "%Y" }}
      {% endif %}
    </p>
    <div class="crafts-content">
      {{ post.content }}
    </div>
  </div>
{% endfor %}
